body {
    background-color: #532a2a;
    display: flex;
    justify-content: center;
}

.main-section {
    width: 1140px;
    height: 1100px;
    margin-top: 5px;
    display: flex;
    position: fixed;
}

.left-column {
    position: sticky;
    background-image: linear-gradient(to bottom, #FF210C, #730d0d);
    width: 50%;
    height: 900px;
    margin: 0px;
    padding: 0px;
}

.left-column h1,
.left-column h2,
.left-column h3, 
.left-column h4 {
    margin: 0;
}

.right-column {
    background-color: #571717;
    padding-left: 5px;
    width: 50%;
    height: 100vh;
    overflow-y: auto;
}

.right-column h4 {
    margin: 0px;
}

.photo {
    background-color: rgb(174, 132, 139);
    width: 570px;
    height: 390px;
    margin: 0px;
}

.photo img {
    width: 570px;
    height: 390px;
}

.content {
    height: 100px;
    padding: 50px;
}

.content h1 {
    text-align: left;
}

.logo {
    padding: 25px;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 50px;
    font-style: normal;
    color: white;
    text-align: center;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    color: white;
    text-align: center;
}

.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    color: white;
    padding: 5px 0px 0px 10px;
}

.icon {
    font-size: 50px;
    color: white;
}

.profile {
    margin-top: 30px;
    padding-bottom: 10px;
}

.content-margin {
    margin: 15px 15px 0px 20px;
}

.profile-header {
    position: relative;
    display: inline-block;
    padding: 10px 25px;
    font-size: 50px;
    color: white;
    font-weight: 400;
    border-radius: 25px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0) 82.143%, rgb(252, 12, 12) 100%), linear-gradient(180.00deg, rgb(253, 38, 36), rgba(151, 23, 21, 0) 17.429%);
    overflow: hidden;
    z-index: 1;
    border: 1px solid red;
}

.profile-header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 150%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.2) 30%, transparent 70%);
    transform: skewX(-20deg);
    z-index: 2;
    pointer-events: none;
}


.underline {
    height: 2px;
    background: white;
    margin: 5px 0 25px 0;
}

.profile-content {
    font-size: 16px;
    color: white;
    text-align: justify;
    padding-right: 15px;
}

.educations {
    margin-bottom: 10px;
}

.education-section {
    display: grid;
    gap: 10px;
}

.education {
    display: flex;
    justify-content: space-around;
}

.education h4{
    font-size: 14px;
    color: white;
}

.education-year {
    width: 150px;
}

.education-institution {
    width: 300px;
}

.education-institution h4 {
    font-weight: 400;
}

.skill-title h4 {
    text-align: left;
}

.skill-title p {
    padding: 15px;
    text-align: justify;
    color: white;
}

.skills-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding-right: 15px;
}

.skill-header {
    display: flex;
    justify-content: space-between;
}

.skill-title h3 {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    text-align: left;
    font-size: 16px;
}

.skill-strenght h3 {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    text-align: left;
}


.skill-details p{
    color: white;
    text-align: justify;
    font-size: 12px;
    padding: 3px;
}

.project-content {
    padding-right: 15px;
}

.projects {
    display: flex;
    gap: 30px;
}

.year h3 {
    margin: 0px;
    font-weight: bold;

}

.project h3 {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
}

.project p {
    text-align: left;
    font-size: 10px;
}

.reference p {
    color: white;
    text-align: left;
}