body{
    background-color: #C20606;
    display: flex;
    justify-content: center;
}

.main-section{
    width: 1140px;
    height: 1800px;
    margin-top: 5px;
    display: flex;
}

.left-column{
    background-image: linear-gradient(to bottom, #FF210C, #a10d0d);
    width: 50%;
    height: 900px;
    margin: 0px;
    padding: 0px;
}

.left-column h1,
.left-column h2,
.left-column h3 {
  margin: 0;
}

.right-column{
    background-color: #571717;
    padding-left: 5px;
    width: 50%;
}

.photo{
    background-color: rgb(174, 132, 139);
    width: 570px;
    height: 390px;
    margin: 0px;
}

.photo img{
    width: 570px;
    height: 390px;
}

.content{
    height: 100px;
    padding: 50px;
}
.content h1{
    text-align: left;
}

.logo{
    padding: 25px;
    display: flex;
    justify-content: center;
    gap: 35px;
}

.playfair-display {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 50px;
    font-style: normal;
    color: white;
    text-align: center;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    color: white;
    text-align: center;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  color: white; 
  padding: 5px 0px 0px 10px;
}

.icon{
    font-size: 50px;
    color: white;
}